/****** Object:  StoredProcedure [dbo].[sp_Trainee_Update]    Script Date: 18/08/2025 11:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [dbo].[sp_Trainee_Update] 

	@TraineeNo Int,
	@Trainee NVarChar(100),
	@Plant NVarChar(11)
	
	
AS
BEGIN

UPDATE tPerson
SET
           Person = @Trainee, 
			LocationID = @Plant
WHERE PersonID = @TraineeNo
END

