@model ErrorViewModel
@{
    Layout = null;
    ViewData["Title"] = "Oops! Something went wrong";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
   
</head>
<body>
    <div id="pageFrame">


        <div id="content">
            <h1>Oops! Something went wrong.</h1>
            <h2>Error :  @Model.ErrorMessage</h2>
            <h3>Please contact the system admistrator and inform them of your problem</h3>
        </div>
      
        <div id="footer">
            <div id="innerFooter">
                <label for="footer" id="lblCopyright" class="bottomnavtext">Copyright © 2011 AHVLA</label>
            </div>
        </div>
    </div>
</body>
</html>
