/****** Object:  StoredProcedure [dbo].[sp_Site_Trainee_Get]    Script Date: 18/08/2025 11:24:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[sp_Site_Trainee_Get] --'110938000'
@PlantNo NVarChar(11)
AS
BEGIN
SELECT DISTINCT    
	P.PersonID, 
	P.Person
	
FROM  tSites S INNER JOIN
      tPerson P ON S.PlantNo = P.LocationID
	 
WHERE     (S.PlantNo = @PlantNo)
END