
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[sp_Training_Select]
	-- Add the parameters for the stored procedure here
	@TraineeID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @TraineeID <> 0
	BEGIN 
SELECT	   P.PersonID,
		   P.Person,  
		   T.TrainingAnimal,
		   T.TrainingType,
           S.Name, 
		   T.TrainingDateTime,
		   T.PersonID as TraineeID
		   FROM tSites S INNER JOIN
           tPerson P ON S.PlantNo = P.LocationID
				  INNER JOIN
		   tTraining T ON T.TrainerID = P.PersonID
		   WHERE T.PersonID = @TraineeID
		   ORDER BY T.TrainingDateTime
	END
	ELSE
	BEGIN
SELECT	   P.PersonID,
		   P.Person,  
		   T.TrainingAnimal,
		   T.TrainingType,
           S.Name, 
		   T.TrainingDateTime,
		   T.PersonID as TraineeID
		   FROM tSites S INNER JOIN
           tPerson P ON S.PlantNo = P.LocationID
				  INNER JOIN
		   tTraining T ON T.TrainerID = P.PersonID
		   ORDER BY P.Person, T.TrainingDateTime
	END
END
