@{
	var pageTitle = ViewData["Title"] ?? "Brainstem training database";
}
@using System.Security.Claims
@{
	var username = User.FindFirst(ClaimTypes.Name)?.Value ?? "Unknown User";
	var rolename = User.FindFirst("rolename")?.Value;
}
<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@pageTitle - TSE Brainstem Training Database</title>
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	@await RenderSectionAsync("Styles", required: false)
	@await RenderSectionAsync("Scripts", required: false)
</head>
<body>
	<header>
		<div class="header-container">
			<!-- Left: Logo -->
			<div class="header-left">
				<img src="~/Images/logo-small.jpg" alt="AHVLA">
			</div>

			<!-- Center: Title Block -->
			<div class="header-center">
				<div class="title-block">
					<span class="large-inline-font">
						TSE<br/>
						Brainstem Training<br/>
						Database
					</span>
				</div>
				<div class="title-image">
					<img src="~/Images/cattlesheep.jpeg" alt="Brainstem training database">
				</div>
			</div>

			<!-- Right: User Info -->
			<div class="header-right">
				@if (User.Identity?.IsAuthenticated ?? false)
				{
					<span>User: @username</span>
					<br />
					if (rolename?.Any() == true)
					{
						<span>Role: @string.Join(", ", rolename)</span>
					}
				}
			</div>
		</div>
	</header>

    <nav class="menu-bar mx-1" role="navigation" aria-label="Main navigation">
        <ul title="Please choose your path young Jedi" data-bs-toggle="tooltip">

            <!-- Home (no arrow, same height) -->
            <li>
                <a class="nav-link nav-equal" asp-controller="Home" asp-action="Index">Home</a>
            </li>

            <!-- Person -->
            <li class="dropdown">
                <a class="nav-link dropdown-toggle nav-equal" href="#" id="navbarDropdownPerson"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
                    Person
                    <img class="dropdown-arrow" src="~/Images/dropdown_arrow.gif" alt="Expand Person menu">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownPerson">
                    <a class="dropdown-item" asp-controller="Persons" asp-action="AddPerson">Add a person</a>
                    <a class="dropdown-item" asp-controller="Persons" asp-action="ViewPerson">Edit/Delete a person</a>
                    <a class="dropdown-item" asp-controller="Persons" asp-action="ViewPerson">View people</a>
                </div>
            </li>

            <!-- Training -->
            <li class="dropdown">
                <a class="nav-link dropdown-toggle nav-equal" href="#" id="navbarDropdownTraining"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
                    Training
                    <img class="dropdown-arrow" src="~/Images/dropdown_arrow.gif" alt="Expand Training menu">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownTraining">
                    <a class="dropdown-item" asp-controller="Training" asp-action="AddTraining">Add training</a>
                    <a class="dropdown-item" asp-controller="Training" asp-action="ViewTraining">View, alter, delete training details</a>
                    <a class="dropdown-item" asp-controller="Training" asp-action="TrainerHistory">Trainer History</a>
                    <a class="dropdown-item" asp-controller="Training" asp-action="TrainerTrained">Trainer trained</a>
                </div>
            </li>

            <!-- Site -->
            <li class="dropdown">
                <a class="nav-link dropdown-toggle nav-equal" href="#" id="navbarDropdownSite"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
                    Site
                    <img class="dropdown-arrow" src="~/Images/dropdown_arrow.gif" alt="Expand Site menu">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownSite">
                    <a class="dropdown-item" asp-controller="Site" asp-action="AddSite">Add a site</a>
                    <a class="dropdown-item" asp-controller="Site" asp-action="ViewSite">View, alter, delete site details</a>
                    <a class="dropdown-item" asp-controller="Site" asp-action="SiteTrainee">Site trainees</a>
                </div>
            </li>

            <!-- User -->
            <li class="dropdown">
                <a class="nav-link dropdown-toggle nav-equal" href="#" id="navbarDropdownUser"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
                    User
                    <img class="dropdown-arrow" src="~/Images/dropdown_arrow.gif" alt="Expand User menu">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                    <a class="dropdown-item" asp-controller="User" asp-action="AddUser">Add a user</a>
                    <a class="dropdown-item" asp-controller="User" asp-action="ViewUser">View user details</a>
                </div>
            </li>

            <!-- News -->
            <li class="dropdown">
                <a class="nav-link dropdown-toggle nav-equal" href="#" id="navbarDropdownNews"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
                    News
                    <img class="dropdown-arrow" src="~/Images/dropdown_arrow.gif" alt="Expand News menu">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownNews">
                    <a class="dropdown-item" asp-controller="News" asp-action="AddNews">Add news</a>
                    <a class="dropdown-item" asp-controller="News" asp-action="ViewNews">View, change, delete news</a>
                </div>
            </li>

            <!-- Help -->
            <li class="dropdown">
                <a class="nav-link dropdown-toggle nav-equal" href="#" id="navbarDropdownHelp"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
                    Help
                    <img class="dropdown-arrow" src="~/Images/dropdown_arrow.gif" alt="Expand Help menu">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownHelp">
                    <a class="dropdown-item" asp-controller="Help" asp-action="Help" asp-route-index="7">Home</a>
                    <a class="dropdown-item" asp-controller="Help" asp-action="Help" asp-route-index="0">Users</a>
                    <a class="dropdown-item" asp-controller="Help" asp-action="Help" asp-route-index="6">News</a>
                    <a class="dropdown-item" asp-controller="Help" asp-action="Help" asp-route-index="2">Persons</a>
                    <a class="dropdown-item" asp-controller="Help" asp-action="Help" asp-route-index="3">Trainer</a>
                    <a class="dropdown-item" asp-controller="Help" asp-action="Help" asp-route-index="4">Training</a>
                    <a class="dropdown-item" asp-controller="Help" asp-action="Help" asp-route-index="1">Site</a>
                </div>
            </li>

            <!-- Reports -->
            <li class="dropdown">
                <a class="nav-link dropdown-toggle nav-equal" href="#" id="navbarDropdownReports"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
                    Reports
                    <img class="dropdown-arrow" src="~/Images/dropdown_arrow.gif" alt="Expand Reports menu">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownReports">
                    <a class="dropdown-item" asp-controller="Report" asp-action="Report">All tables</a>
                </div>
            </li>

        </ul>
    </nav>

	<hr class="mt-1 border-1" />

	<main role="main" class="m-1">
		@RenderBody()
	</main>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	
</body>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}