SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE OR ALTER PROCEDURE [dbo].[sp_Audit_log]
@Procedure VarChar (100),
@Parameters VarChar (max),
@User VarChar (50),
@TransactionType Varchar (10)
AS
	Begin Tran
	Insert Into AuditLog
		([Procedure], Parameters, [User], Date, TransactionType)
	Values
		(@Procedure, @Parameters, @User, GetDate(), @TransactionType)
	If @@Error <> 0
	Begin
		Rollback Tran
		Return
	End 
	Commit Tran